.header{
    background-image: url(../img/restcar.jpeg);
   
    min-height: 10vh;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.form{
    display: flex;

}

.list-car-note{
  display: grid;
  grid-template-columns:33% 33% 33%;
  

}

.list-car-note__item:hover  {
    border: solid;
    border-radius: 3%;
    border-color: #45a049;
  }